
// Card
// ––––––––––––––––––––––––––––––––––––––––––––––––––

.card
    background-color: #ffffff
    box-shadow: 0 3px 5px rgba(0,0,0,0.2)
    border-radius: 0.4rem
.card-headline
    margin: 2rem 0
.card-content
    padding: 2rem
    min-width: 85vw
    min-height: 60vh
    overflow: scroll
