// position
//-------------------------------------------
.centered-xy
  display: grid
  place-items: center

.float-left
  float: left

.float-right
  float: right

.space-between
  display: flex
  justify-content: space-between

// Box
//-------------------------------------------
.is-rounded
  border-radius: .4rem

.shadow
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06)
.shadow-md
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06)
.shadow-lg
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05)
.outlined
  outline: 1px solid red

// text aligment
//-------------------------------------------
$alignments: ('centered': 'center', 'justified': 'justify', 'left': 'left', 'right': 'right')
@each $alignment, $text-align in $alignments
  .text-#{$alignment}
    text-align: #{$text-align} !important

// opacitiy
//-------------------------------------------
.opacity-25
  opacity: .25
.opacity-50
  opacity: .50
.opacity-75
  opacity: .75

// visibility
//-------------------------------------------
@media (max-width: 640px)
  .hide-mobile
    display: none

// debug
//-------------------------------------------
.debug
  div
    outline: 1px solid red
