// fonts
$default-font-family: "Helvetica Neue LT", "Helvetica Neue", Helvetica, Arial, sans-serif

// color
$black:        hsl(0, 0%, 4%) !default
$grey-darker:  hsl(0, 0%, 21%) !default
$grey-dark:    hsl(210, 6%, 27%) !default
$grey:         hsl(0, 0%, 48%) !default
$grey-light:   hsl(0, 0%, 71%) !default
$grey-lighter: hsl(0, 0%, 86%) !default
$white:        hsl(0, 0%, 100%) !default
$orange:       hsl(14,  100%, 53%) !default
$yellow:       hsl(48,  100%, 67%) !default
$green:        hsl(141, 53%,  53%) !default
$turquoise:    hsl(171, 100%, 41%) !default
$cyan:         hsl(204, 71%,  53%) !default
$blue:         hsl(217, 71%,  53%) !default
$purple:       hsl(295, 61%, 32%) !default
$red:          hsl(348, 86%, 61%) !default

// color: generic
$color-initial: $white !default
$color-primary: $purple !default
$color-secondary: $grey-dark !default
$color-tertiary:   #f4f5f6 !default
$color-quaternary: #d1d1d1 !default
$color-quinary:    #e1e1e1 !default

// color: link
$link-hover: $white
$link-hover-border: $grey-dark

$link-focus: $white
$link-focus-border: $blue

$link-active: $white
$link-active-border: $grey-light
