
// sidebar
// ––––––––––––––––––––––––––––––––––––––––––––––––––
// To open the sidebar, just set class="sidebar is-open"
.sidebar
  position: fixed
  top: 5rem
  z-index: 98
  width: 270px
  height: 100%
  left: -280px
  transition: all 0.5s ease // animation effect with ease 0.5s
  -webkit-box-shadow: 10px -10px 9px -11px rgba(0,0,0,0.35)
  -moz-box-shadow: 10px -10px 9px -11px rgba(0,0,0,0.35)
  box-shadow: 10px -10px 9px -11px rgba(0,0,0,0.35)
  &.open
    left: 0px
