:root {
  --title-height: 2.2rem;
  --color-black: rgb(36, 35, 35);
  --color-grey-dark: #363636;
  --color-primary: #791f82;
}

nav > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .title {
  margin: 0;
  font-weight: 400;
  font-size: var(--title-height);
  line-height: var(--title-height);
  padding: 0.1rem 0 0 0.6rem;
  color: var(--color-black);
}
.nav-list {
  list-style: none;
  margin-bottom: 0;
  margin-right: 5rem;
}
.nav-item {
  float: left;
  margin-bottom: 0;
  margin-left: 2.5rem;
  position: relative;
}
.logo-link {
  display: flex;
  justify-items: center;
}
.logo {
  width: 2rem;
  color: var(--color-primary);
}
h5.title {
  margin: 1.5rem;
}
.sidebar-header {
  padding: 2rem 1rem 2rem 2rem;
  filter: invert(1);
}
.icon-source {
  font-size: 23px;
  padding: 0.5rem;
  cursor: pointer;
  color: var(--color-primary);
  background-color: #9951a224;
  border-radius: 50%;
  float: right;
}
.hero-content {
  width: 35rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo-small {
  width: 23px;
  height: 25px;
}

.logo-large {
  height: 90px;
}
.logo-large img {
  filter: invert(1);
  width: 8rem;
}
.hero-content h2 {
  margin-bottom: 5rem;
}
.widget {
  display: grid;
  grid-template-columns: 70px 1fr;
}
.widget-content {
  width: 95%;
  /* text-align: justify; */
}
.widget .icon {
  padding: 4px 0 0 0;
  font-size: 35px;
  line-height: 40px;
  color: var(--color-primary);
}
.widget h3 {
  font-weight: bold;
  color: #555454;
  margin-bottom: 10px;
}
