:root {
  --title-height: 1.9rem;
  --color-black: rgb(36, 35, 35);
  --color-primary: #791f82;
}

nav > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .title {
  margin: 0;
  font-weight: 400;
  font-size: var(--title-height);
  line-height: var(--title-height);
  padding: 0.1rem 0 0 0.6rem;
  color: var(--color-black);
}
.nav-list {
  list-style: none;
  margin-bottom: 0;
  margin-right: 5rem;
}
.nav-item {
  float: left;
  margin-bottom: 0;
  margin-left: 2.5rem;
  position: relative;
}
.logo-link {
  display: flex;
}
.logo {
  width: 2rem;
  color: var(--color-primary);
}
h5.title {
  margin: 1.5rem;
}
.sidebar-header {
  padding: 2rem 1rem 2rem 2rem;
  filter: invert(1);
}
.icon-source {
  padding: 0.3rem;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
  float: right;
}
.icon-source:hover {
  background-color: #791f821a;
}
.hero-content {
  width: 35rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero-content img {
  filter: invert(1);
  width: 8rem;
}
.hero-content h2 {
  margin-bottom: 5rem;
}
div {
  outline: 1px solid red;
}
