@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?carz54');
  src: url('fonts/icomoon.eot?carz54#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?carz54') format('truetype'),
    url('fonts/icomoon.woff?carz54') format('woff'),
    url('fonts/icomoon.svg?carz54#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-insert-template:before {
  content: '\ea72';
}
.icon-paragraph-left:before {
  content: '\ea77';
}
.icon-embed:before {
  content: '\ea7f';
}
