
// Nav
// ––––––––––––––––––––––––––––––––––––––––––––––––––

.topbar
    position: fixed
    top: 0
    z-index: 9999
    width: 100%
    background-color: #ffffff
    -webkit-box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75)
    -moz-box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75)
    box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75)

.sidebar
    position: fixed
    left: 0
    z-index: 8888
    min-width: 15rem
    min-height: 100vh
    background-color: $color-primary
.sidebar-header,
.sidebar-item
    padding: 1rem 2rem
    color: #ffffff
    cursor: pointer
.sidebar-item.active
    color: $color-primary
    background-color: #ffffff
.sidebar-item
    &:hover
        background-color: #ffffffc9

// footer
// ––––––––––––––––––––––––––––––––––––––––––––––––––
footer
    width: 100vw
